# macOS
.DS_Store

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User-specific data (must NOT be committed)
xcuserdata/
*.xcuserdatad/
*.xcuserstate

## Workspace user settings
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcodeproj/project.xcworkspace/xcshareddata/

## Debugger settings
xcdebugger/

## Derived data (sometimes appears locally)
DerivedData/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Uncomment if needed
# Packages/
# Package.pins
# Package.resolved

.build/

# CocoaPods
#
# Uncomment if using CocoaPods
# Pods/

# Carthage
#
# Uncomment if using Carthage
# Carthage/Checkouts

Carthage/Build/

# fastlane
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
