# macOS
.DS_Store

# Xcode
#
# User-specific data (must NOT be committed)
xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Workspace user settings
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcodeproj/project.xcworkspace/xcshareddata/

# Debugger settings
xcdebugger/

# Derived data
DerivedData/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
